.topic__container{
    margin: 1rem;
    display: flex;
    flex-direction: column;    
    width: 300px;
    height: 200px;
    
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 20px;
    background-image: linear-gradient(to top, #6f6f9b, #6a6bb0, #6567c4, #5e62d8, #565dec);
}

.topic__container-selected{
    margin: 1rem;
    display: flex;
    flex-direction: column;    
    width: 400px;
    height: 200px;
    
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 8px 8px 24px 0px rgb(69, 90, 66);
    border-radius: 20px;
    background-image: linear-gradient(to top, #29d838, #6ede38, #98e33d, #bbe748, #d9ec56);
}

.topic__container-name{
    text-align: center;

}

.topic__container-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
    width: 100%;    
}

.topic__container-header p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 0.5rem;
}

.topic__container-header img{
    width: 10%;
    padding: 0.5rem;
}

.topic__container-title{
    font-weight: bold;
    font-size: 16px;
    margin: 0.1rem 0;
    padding: 0.1rem 0;   
}

.topic__container-description {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Number of lines before truncation */
    line-clamp: 5; /* Number of lines before truncation */
    text-overflow: ellipsis;
    font-size: 12px;
    padding: 0.5rem;
}